/* Write your CSS here */
.lis {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.liss {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid #cbd5e1;
  border-right: 1px solid #cbd5e1;
  border-left: 1px solid #cbd5e1;
}
.addedListItem {
  font-size: 16px;
  align-items: center;
  font-family: 'roboto';
  margin: 10px;
  padding-left: 20px;
  padding-right: 30px;
}
.b {
  border-width: 0px;
  background-color: transparent;
  align-self: center;
}
.imgge {
  height: 16px;
  width: 16px;
}
